body{
    background-image: url(./img/bg.png);
}
canvas {
    display: block;
    width: 1480px;
    height: 920px;
    border: 4px solid black;
    margin: auto;
    border-radius: 15px;

}


/*Показ таблицы при наведении*/
#leaderboard
{
   position: absolute;
   top: 20px;
   left: 20px;
   z-index: 1;
   font-size: 14pt;
   color: white;
   width: 300px;
   text-align: left;
   text-shadow: white 1px 0 10px;
}


.container{
width: 325px;
height: 100%;
position: fixed;
top: 0;
left: -300px;
transition: left 0.3s;
background-color: rgba(0, 0, 0, 0.6);
text-align: right;
}

.container:hover{
    left: 0;
}


.bookmark{
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    writing-mode: vertical-rl;
    text-orientation: upright;
    cursor: pointer;
    color: white;
    font-weight: bold;
    
}

@font-face {
    font-family: 'GameOver';
    src: url('./SEGA.TTF');
}